# Ignores
open-monitoring-system/openmonitoringsystem/opt/openmonitoringsystem/frontend/*
openmonitoringsystem/opt/openmonitoringsystem/frontend/node_modules/*
#*.sh
*.bat
**.log
**.env
**.exe
farm*


