[Unit]
Description=Open Monitoring System (Scheduled Task)

[Service]
ExecStart=/home/edwinspire/Documentos/Desarrollo/open-monitoring-system/run_sheduled_task.sh
Restart=always
User=root
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/edwinspire/Documentos/Desarrollo/open-monitoring-system

[Install]
WantedBy=multi-user.target