/*
 * This file is provided for application-specific style rules.
 *
 * By default, Maqetta includes this CSS file within HTML pages
 * authored in Maqetta.
 *
 * This file is typically used to override style rules found in
 * theme CSS files. For example, suppose the theme CSS file has:
 *
 * .claro .dijitButton .dijitButtonNode {
 *		padding:2px 4px 4px 4px;
 * }
 *
 * But for your application suppose you want to tighten the padding
 * for buttons. Then, you might include the following style rule
 * in this file (assuming that you accept Maqetta's default where
 * id "myapp" is present on the BODY element, and assuming
 * that you are using the "claro" theme):
 *
 * #myapp.claro .dijitButton .dijitButtonNode {
 *		padding:1px 3px 3px 3px;
 * }
 *
 * Because of CSS precedence rules (see [1]), the above style rule
 * (which begins with #myapp.claro) will "win the cascade" versus 
 * the style rule from the theme CSS file due to the use of the
 * ID select (#myapp), which has higher specificity than the class
 * selectors used throughout the Claro theme.
 *
 * [1] http://www.w3.org/TR/CSS21/cascade.html#cascade
 */
 html, body {
 	height: 100%;
 	width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  color: #2a3f54;
  font-size: 0.85em;
  font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  border-style: none;
  display: inline-table;
}

legend{
  width: 99%;
  border-bottom: 1px solid #2a3f54;
  border-right-style: none;
  border-left-style: none;
  font-weight: bold;
}

.BarHeader{
  height: 30px;
  width: 100%;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background: -moz-linear-gradient(left, rgba(33,150,243,1) 0%, rgba(33,150,243,0.56) 44%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(left, rgba(33,150,243,1) 0%,rgba(33,150,243,0.56) 44%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to right, rgba(33,150,243,1) 0%,rgba(33,150,243,0.56) 44%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196f3', endColorstr='#007db9e8',GradientType=1 );
}

.ToolBarTitle{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

.TitleHeader{
  display: inline-flex;
  position: relative;
  top: -7px;
  color: white;
}

.ContentWidgets{
  /* Firefox */
  height: -moz-calc(100% - 30px);
  /* WebKit */
  height: -webkit-calc(100% - 30px);
  /* Opera */
  height: -o-calc(100% - 30px);
  /* Standard */
  height: calc(100% - 30px);
  background: #F5F5F5;
}

.SeparatorHorizontal{
  width: 100%;
  height: 1px;
  margin: 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9e9e9e+71,000000+100&0.65+70,0+100 */
  background: -moz-linear-gradient(left,  rgba(158,158,158,0.65) 70%, rgba(158,158,158,0.63) 71%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(158,158,158,0.65) 70%,rgba(158,158,158,0.63) 71%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(158,158,158,0.65) 70%,rgba(158,158,158,0.63) 71%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69e9e9e', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}


.NotificationArea{ 
  width: 300px; 
  background-color: #000000;
  color: white;  
  opacity: 0.8;
  border: 1px solid #2a3f54;
  -moz-box-shadow: 3px 4px 7px #2a3f54;
  -webkit-box-shadow: 3px 4px 7px #2a3f54;
  box-shadow: 3px 4px 7px #2a3f54;
  padding: 5px; margin: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.NotificationArea .level12{ 
  color: #d80000;  
  border: 1px solid #d80000;
  -moz-box-shadow: 3px 4px 7px #d80000;
  -webkit-box-shadow: 3px 4px 7px #d80000;
  box-shadow: 3px 4px 7px #d80000;
}

.NotificationArea .level34{ 
  border: 1px solid #ff6100;
  color: #ff6100;  
  -moz-box-shadow: 3px 4px 7px #ff6100;
  -webkit-box-shadow: 3px 4px 7px #ff6100;
  box-shadow: 3px 4px 7px #ff6100;
}

.NotificationArea .level56{ 
  border: 1px solid #7f6e00;
  color: #7f6e00;  
  -moz-box-shadow: 3px 4px 7px #ffc700;
  -webkit-box-shadow: 3px 4px 7px #ffc700;
  box-shadow: 3px 4px 7px #ffc700;
}

.NotificationArea .level78{ 
  border: 1px solid #ffe100;
  color: #ffe100;  
  -moz-box-shadow: 3px 4px 7px #ffe100;
  -webkit-box-shadow: 3px 4px 7px #ffe100;
  box-shadow: 3px 4px 7px #ffe100;
}

.NotificationArea .level910{ 
  border: 1px solid #ffe100;
  color: #ffe100;  
  -moz-box-shadow: 3px 4px 7px #ffe100;
  -webkit-box-shadow: 3px 4px 7px #ffe100;
  box-shadow: 3px 4px 7px #ffe100;
}

.notificacion_area_title{
  font-size: 0.85em; font-weight: bold; padding-left: 1em; color: white;
}

.notificacion_area_message{
  font-size: 0.75em;  color: white;
}
