 .asbutton{
    padding-left: 25px;
    line-height: 20px;
    cursor: pointer;
    background: #fff;
}
.asbutton:hover { 
    background-color: #f2f2f2;
    border-radius: 3px;
    border-style: solid;
    border-color: #f2f2f2;
    border-style: none;
}



