html {
  width: 100%;
  height: 100%;
  background: #f5f5f5 center center no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-size: 14px;
	line-height: 1.5;
	color: #333; */
  overflow: hidden; /* Hide scrollbars */
  min-height: 1200px;
}

details {
  padding: 5px;
}

summary {
  cursor: pointer;
  outline: 0px;
}

.dropdown-item {
  padding: 0px!important;
}


.card-footer-item {
  padding: .5rem!important;
}

.card-header-title{
	padding-left: 0.5em !important;
	padding-top: 0.1em !important;
	padding-bottom: 0.1em !important;

	background: rgb(238, 238, 238);
	background: -moz-linear-gradient(
	  top,
	  rgba(238, 238, 238, 1) 0%,
	  rgba(204, 204, 204, 1) 100%
	);
	background: -webkit-gradient(
	  linear,
	  left top,
	  left bottom,
	  color-stop(0%, rgba(238, 238, 238, 1)),
	  color-stop(100%, rgba(204, 204, 204, 1))
	);
	background: -webkit-linear-gradient(
	  top,
	  rgba(238, 238, 238, 1) 0%,
	  rgba(204, 204, 204, 1) 100%
	);
	background: -o-linear-gradient(
	  top,
	  rgba(238, 238, 238, 1) 0%,
	  rgba(204, 204, 204, 1) 100%
	);
	background: -ms-linear-gradient(
	  top,
	  rgba(238, 238, 238, 1) 0%,
	  rgba(204, 204, 204, 1) 100%
	);
	background: linear-gradient(
	  to bottom,
	  rgba(238, 238, 238, 1) 0%,
	  rgba(204, 204, 204, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  }

.card-content {
  padding: 0.5rem !important;
}

.gbackground-black {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
  background: #959595; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 53%,
    #4e4e4e 76%,
    #383838 87%,
    #1b1b1b 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 53%,
    #4e4e4e 76%,
    #383838 87%,
    #1b1b1b 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 53%,
    #4e4e4e 76%,
    #383838 87%,
    #1b1b1b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

.gbackground-blue {
  background: rgb(47, 105, 147);
  background: -moz-linear-gradient(
    top,
    rgba(47, 105, 147, 1) 0%,
    rgba(20, 101, 168, 1) 44%,
    rgba(21, 105, 165, 1) 44%,
    rgba(20, 101, 168, 1) 44%,
    rgba(0, 22, 45, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(47, 105, 147, 1)),
    color-stop(44%, rgba(20, 101, 168, 1)),
    color-stop(44%, rgba(21, 105, 165, 1)),
    color-stop(44%, rgba(20, 101, 168, 1)),
    color-stop(100%, rgba(0, 22, 45, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(47, 105, 147, 1) 0%,
    rgba(20, 101, 168, 1) 44%,
    rgba(21, 105, 165, 1) 44%,
    rgba(20, 101, 168, 1) 44%,
    rgba(0, 22, 45, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(47, 105, 147, 1) 0%,
    rgba(20, 101, 168, 1) 44%,
    rgba(21, 105, 165, 1) 44%,
    rgba(20, 101, 168, 1) 44%,
    rgba(0, 22, 45, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(47, 105, 147, 1) 0%,
    rgba(20, 101, 168, 1) 44%,
    rgba(21, 105, 165, 1) 44%,
    rgba(20, 101, 168, 1) 44%,
    rgba(0, 22, 45, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(47, 105, 147, 1) 0%,
    rgba(20, 101, 168, 1) 44%,
    rgba(21, 105, 165, 1) 44%,
    rgba(20, 101, 168, 1) 44%,
    rgba(0, 22, 45, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f6993', endColorstr='#00162d',GradientType=0 );
}

.navbar-brand {
  min-height: 0.3rem !important;
}

.navbar {
  min-height: 0.3rem !important;
  margin-bottom: 0.2em;
}

.navbar-item,
.navbar-link {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.gbackground-silver {
  background: rgb(238, 238, 238);
  background: -moz-linear-gradient(
    top,
    rgba(238, 238, 238, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(238, 238, 238, 1)),
    color-stop(100%, rgba(204, 204, 204, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(238, 238, 238, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(238, 238, 238, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(238, 238, 238, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.41) !important;
}

.modal-card-title {
  font-size: 1rem !important;
}

.modal-card-foot,
.modal-card-head {
  padding: 0.5em !important;
}

.gbackground-blue a:hover {
  color: rgb(255, 102, 0);
}

.level:not(:last-child) {
  margin-bottom: 0.3rem !important;
}

.columns:not(:last-child) {
  margin-bottom: 0.3rem !important;
}

.label:not(:last-child) {
  margin-bottom: 0.1em !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
