/*
@font-face {
	font-family: 'dojo';
	src:
		url('./fonts/dojo.ttf?fkcsox') format('truetype'),
		url('./fonts/dojo.woff?fkcsox') format('woff'),
		url('./fonts/dojo.svg?fkcsox#dojo') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {

	font-family: 'dojo' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*/
.root {

}
.gif{
  background:  require('./images/home.gif') no-repeat center center fixed; 
  background-size: cover;
}


.container{
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

