.UserNotifications{ 
width: 300px; 
background-color: #000000;
color: white;  
opacity: 0.8;
border: 1px solid #2a3f54;
-moz-box-shadow: 3px 4px 7px #2a3f54;
-webkit-box-shadow: 3px 4px 7px #2a3f54;
box-shadow: 3px 4px 7px #2a3f54;
padding: 5px; margin: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.UserNotifications_12{ 
width: 300px; 
background-color: #000000;
color: #d80000;  
opacity: 0.8;
border: 1px solid #d80000;
-moz-box-shadow: 3px 4px 7px #d80000;
-webkit-box-shadow: 3px 4px 7px #d80000;
box-shadow: 3px 4px 7px #d80000;
padding: 5px; margin: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.UserNotifications_34{ 
width: 300px; 
background-color: #000000;
opacity: 0.8;
border: 1px solid #ff6100;
color: #ff6100;  
-moz-box-shadow: 3px 4px 7px #ff6100;
-webkit-box-shadow: 3px 4px 7px #ff6100;
box-shadow: 3px 4px 7px #ff6100;
padding: 5px; margin: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.UserNotifications_56{ 
width: 300px; 
background-color: #000000;
opacity: 0.8;
border: 1px solid #7f6e00;
color: #7f6e00;  
-moz-box-shadow: 3px 4px 7px #ffc700;
-webkit-box-shadow: 3px 4px 7px #ffc700;
box-shadow: 3px 4px 7px #ffc700;
padding: 5px; margin: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.UserNotifications_78{ 
width: 300px; 
background-color: #000000;
opacity: 0.8;
border: 1px solid #ffe100;
color: #ffe100;  
-moz-box-shadow: 3px 4px 7px #ffe100;
-webkit-box-shadow: 3px 4px 7px #ffe100;
box-shadow: 3px 4px 7px #ffe100;
padding: 5px; margin: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.UserNotifications_910{ 
width: 300px; 
background-color: #000000;
opacity: 0.8;
border: 1px solid #ffe100;
color: #ffe100;  
-moz-box-shadow: 3px 4px 7px #ffe100;
-webkit-box-shadow: 3px 4px 7px #ffe100;
box-shadow: 3px 4px 7px #ffe100;
padding: 5px; margin: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.notificacion_area_title{
font-size: 1em; font-weight: bold; padding-left: 1em; color: white;
}

.notificacion_area_message{
font-size: 0.8em;  color: white;
}
