

#########################
  .menu_section {
/*    padding: 5px;
    border-top-color: #35516d;
    border-bottom-color: #11273d;
    border-style: solid;
    border-width: 1px;
*/
    border-top: #71324f;
    border-style: solid;
    border-width: 1px;


 

  }
  .menu_section h3 {
    padding-left: 23px;
 /*   color: #fff;*/
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0;
    margin-top: 0;
  /*  text-shadow: 1px 1px #000;*/
  }



  .menu_section >ul {
    margin-top: 10px;
  }
  .main_menu i.fa.fa-caret-down {
    float: right;
    text-align: center;
    margin-right: 5px;
    /*font-size: 10px;*/
    min-width: inherit;
/*    color: #C4CFDA;*/
  }

  .main_menu i.fa.icon_menu {
    float: left;
    text-align: center;
    margin-right: 5px;
    margin-left: 10px;


    /*font-size: 10px;*/
    min-width: inherit;
/*    color: #C4CFDA;*/
  }

  .active a span.fa {
    text-align: right !important;
    margin-right: 4px;
  }
  .container {
    width: 100%;
    padding: 0
  }


  .navbar-nav>li>a, .navbar-brand, .navbar-nav>li>a {
    color: #fff !important;
  }
  .top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover, .top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover {
    background: #D9DEE4;
  }


  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a {
    color: #5A738E;
    text-decoration: none;
  }
  a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0;
  }
  a:hover, a:focus {
    text-decoration: none
  }
  .navbar {
    margin-bottom: 0
  }
  .navbar-header {
    background: #34495E;
  }
  .navbar-right {
    margin-right: 0;
  }
  .top_nav .navbar-right {
    margin: 0;
    width: 90%;
    float: right;
  }
  .top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
  }
  @media (min-width: 480px) {
    .top_nav .navbar-right li {
      position: relative;
    }
  }
  .top_nav .dropdown-menu li {
    width: 100%;
  }
  .top_nav .dropdown-menu li a {
    width: 100%;
    padding: 12px 20px;
  }
  .top_nav li a i {
    /*font-size: 15px*/
  }
  .navbar-static-top {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sidebar-header {
    border-bottom: 0;
    margin-top: 46px;
  }
  .sidebar-header:first-of-type {
    margin-top: 0
  }

.nav.side-menu{
	    padding-left: 0px;
}

  .nav.side-menu> li {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .nav.side-menu> li > a {
    margin-bottom: 6px;
  }
  .nav.side-menu> li > a:hover {
    color: #00548c !important;
  }
  .nav.side-menu>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background: transparent;
  }
  .nav.child_menu {
    display: none;
    padding-left: 0px;
  }
  .nav.child_menu li:hover,
  .nav.child_menu li.active {
    background-color: rgba(255, 255, 255, 0.06);
  }
  .nav.child_menu li {
    padding-left: 2em;
    list-style: none;
  }
  .nav-md ul.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
  }
  .nav.side-menu>li>a, .nav.child_menu>li>a {
   /* color: #e70000;*/
    font-weight: 500;
  }
  .nav.child_menu li li:hover, 
  .nav.child_menu li li.active {
    background: none;
  }
  .nav.child_menu li li a:hover, 
  .nav.child_menu li li a.active {
    color: #000;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 13px 5px 12px;
  }
  .nav.side-menu> li.current-page, .nav.side-menu> li.active {
    border-right: 5px solid #2a3f54;
  }
  .nav li.current-page {
    background: rgba(255, 255, 255, 0.05);
  }
  .nav li li li.current-page {
    background: none;
  }
  .nav li li.current-page a {
    color: #fff;
  }


  .nav.side-menu> li.active > a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b6479), color-stop(100%, #4c5566)), #686e78;
    background: -webkit-linear-gradient(#fff, #ECECED), #999;
    background: -moz-linear-gradient(#fff, #ECECED), #999;
    background: -o-linear-gradient(#fff, #ECECED), #999;
    background: linear-gradient(#fff, #ECECED), #999;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
  }
  .navbar-brand, .navbar-nav>li>a {
    font-weight: 500;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 32px;
  }

  .nav.navbar-nav>li>a {
    color: #515356 !important;
  }
  .nav.top_menu>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #34495E !important;
  }
  .nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
  }
  .top_search {
    padding: 0;
  }
  .top_search .form-control {
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius: 25px 0px 0px 25px;
    padding-left: 20px;
    border: 1px solid rgba(221, 226, 232, 0.49);
  }
  .top_search .form-control:focus {
    border: 1px solid rgba(221, 226, 232, 0.49);
    border-right: 0;
  }
  .top_search .input-group-btn button {
    border-radius: 0px 25px 25px 0px;
    border: 1px solid rgba(221, 226, 232, 0.49);
    border-left: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #93A2B2;
    margin-bottom: 0 !important;
  }
  .toggle {
    float: left;
    margin: 0;
    padding-top: 16px;
    width: 70px;
  }
  .toggle a {
    padding: 15px 15px 0;
    margin: 0;
    cursor: pointer;
  }
  .toggle a i {
    /*font-size: 26px;*/
  }
  .nav.child_menu > li > a {
    /*color: #ffffff;*/
    /*font-size: 12px;*/
    padding: 9px;
  }
  .panel_toolbox {
    float: right;
    min-width: 70px;
  }
  .panel_toolbox>li {
    float: left;
    cursor: pointer;
  }
  .panel_toolbox>li>a {
    padding: 5px;
    color: #FFFFFF;
    /*font-size: 14px;*/
  }
  .panel_toolbox>li>a:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b6075+0,60abf8+52,274f77+100 */
    background: rgb(75,96,117); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(75,96,117,1) 0%, rgba(96,171,248,1) 52%, rgba(39,79,119,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(75,96,117,1) 0%,rgba(96,171,248,1) 52%,rgba(39,79,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(75,96,117,1) 0%,rgba(96,171,248,1) 52%,rgba(39,79,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6075', endColorstr='#274f77',GradientType=0 ); /* IE6-9 */
  }
  .line_30 {
    line-height: 30px;
  }
  .main_menu_side {
    padding: 0;
  }
  .bs-docs-sidebar .nav>li>a {
    display: block;
    padding: 4px 6px;
  }
  footer {
    background: #fff;
    padding: 5px 5px;
    display: block;
  }
  @media (min-width: 768px) {
    footer {
      margin-left: 230px;
    }
  }
  .nav-sm footer {
    margin-left: 70px ;  
  }
  
  /* *********  custom accordion  **************************** */

  .error-number {
    /*font-size: 90px;*/
    line-height: 90px;
    margin: 20px 0;
  }



  ul.msg_list li {
    background: #f7f7f7;
    padding: 5px;
    display: flex;
    margin: 6px 6px 0;
    width: 96% !important;
  }
  ul.msg_list li:last-child {
    margin-bottom: 6px;
    padding: 10px;
  }
  ul.msg_list li a {
    padding: 3px 5px !important;
  }
  ul.msg_list li a .image img {
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    float: left;
    margin-right: 10px;
    width: 11%;
  }
  ul.msg_list li a .time {
    /*font-size: 11px;*/
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 35px;
  }
  ul.msg_list li a .message {
    display: block !important;
    /*font-size: 11px;*/
  }
  .dropdown-menu.msg_list span {
    white-space: normal;
  }
  .dropdown-menu {
    border: medium none;
    box-shadow: none;
    display: none;
    float: left;
    /*font-size: 12px;*/
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

  }
  .dropdown-menu>li>a {
    color: #5A738E;
  }
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 220px;
  }
  .navbar-nav .open .dropdown-menu.msg_list {
    width: 300px;
  }
  .info-number .badge {
    /*font-size: 10px;*/
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 2px;
    top: 8px;
  }
  ul.to_do {
    padding: 0;
  }
  ul.to_do li {
    background: #f3f3f3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    padding: 7px;
    margin-bottom: 5px;
    list-style: none;
  }
  ul.to_do p {
    margin: 0;
  }

  ul.quick-list {
    width: 45%;
    padding-left: 0;
    display: inline-block;
  }
  ul.quick-list li {
    padding-left: 10px;
    list-style: none;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  ul.quick-list li i {
    padding-right: 10px;
    color: #757679;
  }

  h5.graph_title {
    text-align: left;
    margin-left: 10px
  }
  h5.graph_title i {
    margin-right: 10px;
    /*font-size: 17px*/
  }
  span.right {
    float: right;
    /*font-size: 14px !important*/
  }


  /** top tiles  */
  .tile_count {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .tile_count .tile_stats_count {
    border-bottom: 1px solid #D9DEE4;
    padding: 0 10px 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  @media (min-width: 992px) {
    .tile_count .tile_stats_count {
      margin-bottom: 10px;
      border-bottom: 0;
      padding-bottom: 10px;
    }
  }
  .tile_count .tile_stats_count:before {
    content:""; 
    position: absolute; 
    left: 0; 
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
  }
  @media (min-width:992px) {
    .tile_count .tile_stats_count:first-child:before {
      border-left: 0;
    }
  }
  .tile_count .tile_stats_count .count {
    /*font-size: 30px;*/
    line-height: 47px;
    font-weight: 600;
  }
  @media (min-width:768px) {
    .tile_count .tile_stats_count .count {
      /*font-size: 40px;*/
    }
  }
  @media (min-width: 992px) and (max-width: 1100px) {
    .tile_count .tile_stats_count .count {
      /*font-size: 30px;*/
    }
  }
  .tile_count .tile_stats_count span {
    /*font-size: 12px;*/
  }
  @media (min-width:768px) {
    .tile_count .tile_stats_count span {
      /*font-size: 13px;*/
    }
  }
  .tile_count .tile_stats_count .count_bottom i {
    width: 12px;
  }
  /** /top tiles **/

  .dashboard_graph {
    background: #fff;
    padding: 7px 10px;
  }
  .dashboard_graph .col-md-9, .dashboard_graph .col-md-3 {
    padding: 0;
  }
  a.user-profile {
    color: #5E6974 !important;
  }
  .user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px;
  }
  ul.top_profiles {
    height: 330px;
    width: 100%;
  }
  ul.top_profiles li {
    margin: 0;
    padding: 3px 5px;
  }
  ul.top_profiles li:nth-child(odd) {
    background-color: #eee;
  }
  .media .profile_thumb {
    border: 1px solid;
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 0;
    border-radius: 50%;
    padding: 9px 12px;
  }
  .media .profile_thumb i {
    /*font-size: 30px;*/
  }
  .media .date {
    background: #ccc;
    width: 52px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
  }
  .media .date .month {
    margin: 0;
    text-align: center;
    color: #fff;
  }
  .media .date .day {
    text-align: center;
    color: #fff;
    /*font-size: 27px;*/
    margin: 0;
    line-height: 27px;
    font-weight: bold;
  }
  .event .media-body a.title {
    font-weight: bold;
  }
  .event .media-body p {
    margin-bottom: 0;
  }
  h4.graph_title {
    margin: 7px;
    text-align: center;
  }


  /* *********  /iconts-display  **************************** */


  /** tile stats **/
  .tile-stats {
    position: relative;
    display: block;
    margin-bottom: 12px;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    background: #FFF;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }

  .tile-stats:hover .icon i {
    animation-name: tansformAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    color: rgba(58, 58, 58, 0.41);
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: tansformAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: tansformAnimation;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
  }



  /** the actual animation, credit where due : http://daneden.me/animate/ ***/

  .animate {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -o-animation-duration: 0.5s;
    -o-animation-timing-function: ease;
    -o-animation-fill-mode: both;
    -ms-animation-duration: 0.5s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
